html, body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #fff;
    margin: 0;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Стили для заголовка и ссылок */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px 20px;
    border-bottom: .3px solid rgb(238, 238, 238);
}

.header .logo img {
    max-width: 10vh;
    height: auto;
}

.header .links {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-grow: 1;
}

.header .links a {
    text-decoration: none;
    color: #333;
    font-size: small;
}

.header button {
    background-color: #E3F6F5;
    color: #05B2A5;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    margin-left: auto;
    cursor: pointer;
}

.menu {
    display: none;
}

.way {
    margin-left: 5%;
    color: gray;
}
.content {
    color: #333;
}

.headline{
    color: #333;
    font-size: xxx-large;
}
.author, .description, .date {
    font-size: 0.75rem;
    color: #666;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 3%; /* Отступ между блоками */
    max-width: 100%;
    margin-left: 3%;
}
.content-left {
    flex-basis: 75%; 
    margin-left: 2%;

}

.content-right {
    flex-basis: 22%; 
    align-items: center;
}

.content-list{
    text-decoration: underline;
}

.hidden-pic1, .hidden-pic2{
    display: none;
    cursor: pointer;
}


li{
    color: #05B2A5;
}
li span{
    color: #333;
}


.block1{
    width: 85%;
    background-color: #E6F0FD;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
}

.block1 h4{
    font-weight: 600;
}
.block1 p{
    font-weight: lighter;
    color: #3c3c3c;
    font-size: .95rem;
}

.block1 button, .block2 button{
    margin-bottom: 15px;
    width: 90%;
    color: #fff;
    border: none;
    background-color: #35B3A8;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
}
.block2{
    text-align: center;
    margin-top: 20px;
    border: .5px solid #cbcbcb;
    border-radius: 10px;
    padding: 20px 0 0 0;
    width: 90%;

}
.block2 hr{
    width: 80%;
    color: #cbcbcb;
    border-width: .5px;
}
.block2 img{
    border-radius: 1000px;
}
.block2 h4{
    font-size: large;
}
.block2 p{
    font-size: small;
    color: #808080;
}
.block3, .block4{
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.left-content1{
    margin-top: 20px;
}
.left-content1 h3{
    font-size: large;
}
.left-content1 p{
    font-size: large;
}

.left-content2{
    background-color: #F3F7FE;
    padding: 20px;
    border-radius: 20px;
    font-size: large;
    font-weight: 100;
}
.left-content3{
    margin-top: 10px; 
    font-size: small;
     color: #808080; 
     font-weight:100;
}
.left-content3 img{
    width: 100%;
}

.bg{
    text-align: center;
    width: 50%;
    margin: auto;
    background-image: url('./pictures/image7.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:initial;
    padding: 40px;
    font-weight: 200;
}

.left-content5{
    display: flex;
    max-width: 500px;
}
.left-content5 p{
    margin-left: 20px;
    line-height: 1.5rem;
    flex-wrap: wrap;
    font-weight: 400;
    min-width: 300px;
}
.left-content6{
    background-color: #FDFAEC;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
}
.left-content6 p{
    line-height: 1.5rem;
}
.left-content8{
    display: flex;
    text-align: center;
}
.left-content8 p {
    margin-left: 20px;
    line-height: 1.25rem;
    font-weight: 400;
}
.left-content9{
    background-color: #FFF3EB;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    line-height: 1.5rem;
}
.left-content10{
    display: flex;
    gap: 30px;
    margin-top: 20px;
    line-height: 1.30rem;
}
.left-content11{
    background-color: #E6F9F6;
    border-radius: 20px;
    line-height: 1.5rem;
    padding: 10px 20px 10px 20px;
}

footer{
    background-color: #2963A3;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
}
.foot-links{
    margin-left: 25px;
    margin-top: 15px;
}
.foot-links a{
    color: #fff;
    text-decoration: none;
    display: block;
    margin-top: 15px;
    white-space: nowrap;
    font-weight: 600;
}


.footer-sec-2{
    margin-left: 20px;
    width: 40%;
    margin-top: 15px;
}
.footer-sec-2 p {
    font-size: small;    
    font-weight: lighter;
    color: #e2e2e2;
}
.form{
    background-color: #fff;
    display: flex;
    align-items: center;
    height: 45px;
    overflow-y: hidden;
    border-radius: 5px 5px 5px 5px;
}
.form input{
    height: 45px;
    border: none;
    width: 100%;
    border-radius: 5px;
    padding-left: 20px;
    font-size: large;
}

.form button{
    height: 45px;
    border: none;
    background-color: #17C8BB;
    border-radius: 5px;
    width: 70px;

}

.sec-3{
    margin-left: 7%;
    margin-top: 15px;
}

.sec-3 img{
    width: 270px;
}

.net-icons{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.net-icons a{
    max-width: 30px;
    color: #333;
    text-decoration: none;
    background-color: #fff;
    padding: 10px;
    border-radius: 100px;
    margin-left: 15px;
}
.net-icons a:nth-child(4){
   max-width: 20px;
   background-color: #333;
}
.net-icons a img{
    max-width: 20px;

}

@media screen and (max-width: 794px) {
    .left-content8{
        display: block;
    }
}

@media screen and (max-width: 818px) {
    .left-content5{
        display: block;
        margin: auto;
        text-align: center;
    }
}


@media screen and (max-width: 889px){

    footer{
        margin-top: 160px;
    }
}

@media screen and (max-width: 239px) {
    .hidden-pic1{
        display: flex;
        margin: auto;
    }
    .hidden-pic1 .block2{
        margin-top: 230px;
    }
}

@media screen and (max-width: 889px) {
 .hidden-pic2{
        display: flex;
        padding: 40px;
    }

    .hidden-pic1{
        display: flex;
        padding: 60px;
    }

    .hidden-pic2 .img1{
        margin-right: 10px;        
    }

    .hidden-pic1{
        display: flex;
    }
    .hidden-pic1 .image1{
        width: 300px;
    }

    .hidden-pic1 .block1{
        margin-top: 0;
        border-radius: 20px;
        margin-right: 10px;
    }

    .hidden-pic1 .block2{
        margin-top: 0;
        border-radius: 20px;
        margin-left: 10px;
    }



    .hidden-pic2 .img2{
        margin-top: -60px;
        margin-left: 10px;
    }

.content-left{
    display: block;
    max-width: 95%;
    margin-left: 0;
    margin: auto;
    flex-basis: 100%; 


}


   .content-right{
    display: none;
   }

    .header .psychologist-btn{
        display: none;
    }
    
    .header .links {
        display: none;
    }
    
    .menu {
        display: block;
    }
    
    }